.config/zsh/zsh_history
.config/ranger/colorschemes/__pycache__/*.pyc
.config/ranger/plugins/__pycache__/*.pyc
.config/nvim/autoload/plugged/coc.nvim
.config/nvim/autoload/plugged/tokyonight-vim
.config/nvim/autoload/plugged/vim-snippets
.config/ranger/plugins/ranger_devicons
.config/nvim/.Vim_Configs_Old
.config/nvim/autoload
.config/nvim/autoload
.config/nvim/coc-settings.json
.config/nvim/coc-settings.json
.config/nvim/coc-settings.json
.config/nvim/init.vim_
.config/nvim/lazy-lock.json
.config/xournalpp/settings.xml
*.metadata
